<div id="openPage" class="Circle">
	<svg
		xmlns="http://www.w3.org/2000/svg"
		width="30"
		height="30"
		fill="currentColor"
		class="bi bi-cart-plus"
		viewBox="0 0 16 16"
	>
		<path
			d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"
		/>
		<path
			d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"
		/>
	</svg>
</div>

<div id="AddItemModal" class="AddItemsModal">
	<div id="Modal2" class="modalPage">
		<div id="ItemUploadPage" class="ItemUploadPage">
			<div id="close_AddItem" class="close_btn">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="16"
					height="16"
					fill="currentColor"
					class="bi bi-x-lg"
					viewBox="0 0 16 16"
				>
					<path
						d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"
					/>
				</svg>
			</div>
			<div class="UploadLogo">
				<Strong>Upload</Strong>
			</div>
			<div class="UploadPage">

				<div class="price">
					<div type="button" value="나눔">나눔</div>
					<div type="button" value="과일">교환</div>
			</div>


				<div class="imgUpload">
					<div class="CameraImg">
						<div class="filebox">
							<label for="ex_file">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									width="30"
									height="30"
									fill="currentColor"
									class="bi bi-camera"
									viewBox="0 0 16 16"
								>
									<path
										d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1v6zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2z"
									/>
									<path
										d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5zm0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"
									/></svg>
                                </label>
							<input
								type="file"
								id="ex_file"
								onchange="setThumbnail(event)"
								multiple
							/>
						</div>
					</div>
					<div class="imgDiv"></div>
				</div>
				<div class="categoryOption">
					<select name="category">
						<option type="category" value="카테고리">카테고리</option>
						<option type="category" value="야채">야채</option>
						<option type="category" value="과일">과일</option>
					</select>
				</div>
				<div class="itemName">
					<input id="ItemName" type="text" placeholder="상품명을 입력해주세요" name="name" />
				</div>
				<div class="itemDetail">
					<input
            id="ItemDetail"
						type="textarea"
						placeholder="상품설명을 입력해주세요"
						name="detail"
					/>
				</div>
				<div class="addbtn">
					<button onclick="submitItems()" class="custom-btn btn-3">
						<span>상품추가</span>
					</button>
				</div>
			</div>
		</div>
	</div>

</div>

<script>
	var form_data = {
		name: "",
		detail: "",
		price: "",
		category: "",
	};
    $("select[name=category]").change(function(){
        console.log($(this).val()); 
        form_data.category=$(this).val()
    });
	const formData = new FormData();
	img_data = [];
	let openAddItems = document.getElementById("openPage");
	let ModalP = document.getElementById("Modal2");
	let Modal_down = document.getElementById("close_AddItem");
	openAddItems.addEventListener("click", () => {
        $("#AddItemModal").show();
	});
	Modal_down.addEventListener("click", () => {
        $("#AddItemModal").hide();
	});
	const setThumbnail = (event) => {
        //console.log(event)
		for (var image of event.target.files) {
            var reader = new FileReader();
			reader.onload = function (event) {
                //var img = document.createElement("img");
				//img.setAttribute("src", event.target.result);
				$(".imgDiv").append(`<div class="ThumnailImg">
                    <img src="${event.target.result}" alt="">
                </div>`);
			};
			console.log(image);
			formData.append("uploadfile", image);
			img_data.push(img_data);
			reader.readAsDataURL(image);
		}
	};
    //formData.append("userdata", JSON.stringify(form_data));
	const submitItems = () => {
		for (let key of formData.values()) {
			console.log(key);
		}
        form_data.name=$("#ItemName").val();
        form_data.detail=$("#ItemDetail").val();
        form_data.price=$("#Price").val();
        formData.append("userdata", JSON.stringify(form_data));
		axios({
			headers: {
				"Content-Type": "multipart/form-data",
			},
			url: "/api/additem",
			method: "post",
			// post방식 일때는 params가 data로 변경
			data: formData,
		})
			.then((response) => {
				console.log(response);
				if (response.data) {
					alert("상품업로드 성공");
					$("#AddItemModal").hide();
				} else {
					alert("예기치못한 오류가 ㄷ ㄷ ㄷ ㄷ ㄷ ㄷ 이이이잉 다시해줘잉");
				}
			})
			.catch((error) => {
				console.log(error);
			});
	};
</script>
