
<%-include("Head.ejs")%>


<div id="openPage" class="Circle">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-cart-plus"
        viewBox="0 0 16 16">
        <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z" />
        <path
            d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
    </svg>
</div>

<div id="AddItemModal" class="AddItemsModal">
    <div id="Modal2" class="modalPage">
        <div id="ItemUploadPage" class="ItemUploadPage">
            <div id="closeBtn" class="close-btn" onclick="closepopup()"><i class="fa-regular fa-xmark"></i></div>
            <div class="upload__container">
                <div class="wrapper">
                  <div class="upload__img">
                    <img>
                  </div>
                  <div class="upload-content">
                    <div class="upload__icon"><i class="fa-solid fa-cloud-arrow-up" style="font-size: 50px;"></i></div>
                    <div class="upload__text">No file chosen, yet!</div>
                  </div>
                </div>
                <input id="default-btn"type="file" hidden>
                <button onclick="defaultBtnActive()" id="custom-btn">choose photos</button>
              </div>
        
              <form class="upload__form" >
                <p>
                  <select class="upload__list" name="category">
                    <option name="category" value="카테고리">카테고리</option>
                    <option value="과일">과일</option>
                    <option value="야채">야채</option>
                  </select>
                </p>
                <p><input class="upload__title" type="text" name="upload-name" placeholder="상품명을 입력해주세요"></p>
                <p><input class="upload__price" type="text"  name="upload-price"placeholder="가격을 입력해주세요"></p>
                <p><input class="upload__content" type="text" name="upload-explain" placeholder="상품설명을 입력해주세요"></p>
                <a id="sellUpload" class="sellbtn"  onclick="upload()">올리기</a>
              </form>
              
            </div>
        </div>
    </div>

</div>

<script>
    let openAddItems = document.getElementById("openPage");
    let ModalP=document.getElementById("Modal2")
    openAddItems.addEventListener("click", () => {
        $("#AddItemModal").show();  
    })

    var closeBtn = document.getElementById('closeBtn');
    var sellUpload = document.getElementById('sellUpload');
    const defaultBtn = document.querySelector('#default-btn');
    const customBtn = document.querySelector('#custom-btn');
    const uploadImg = document.querySelector("img");

    function closepopup(){
    $("#AddItemModal").css('display','none');
    }


  function upload(){

    const formData = new FormData();
    const file = document.getElementById("file");
    const form = document.querySelector(".upload__form");
      formData.append("name",form.upload-name.value);
      formData.append("price",form.upload-price.value);
      formData.append("explain",form.upload-explain.value);

    //   var categorybox = document.querySelectorAll('input[type=category]:checked');  
    // var categoryclick = "";
    // for( var i = 0; i < markedCheckbox.length; i++ ) {
    //   like += markedCheckbox[i].value + ", ";
    
  

      formData.append("category",form.category.value);
      formData.append("userfile",file.files[0]);

      axios({
          headers : {
            "Content-Type" : "multipart/form-data"
          },
          url: "/upload",
          method : "post",
          data : formData

        })
        .then((response) => {

        });
      }
    // 이미지이름업로드시간?



    //업로드사진
        function defaultBtnActive(){
          defaultBtn.click();
        }
        defaultBtn.addEventListener('change',function(){
      
        });
                    

</script>