<div id="modal_window_chat" class="modal_back">
	<div class="modalPage">
		<div class="chat_box">
			<div id="close_chat" class="c_b">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="16"
					height="16"
					fill="currentColor"
					class="bi bi-x-lg"
					viewBox="0 0 16 16"
				>
					<path
						d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"
					/>
				</svg>
			</div>
			<div class="messages"></div>
			<div class="textbox">
				<input type="text" id="chat-cont" />
				<button id="send-message" onclick="MsgSend()">Send</button>
			</div>
		</div>
	</div>
</div>

<script>
	var socket = undefined;
	$(".dialog-status").click((key) => {
		$("#modal_window_chat").show();
		socket = io.connect();
		const pid = Number("<%=product_detail_info['member_id']%>");
		let roomname = undefined;
		console.log(pid);
		axios({
			url: "/api/takeroom",
			method: "get",
			params: { member_id: pid },
		}).then((result) => {
			roomname = result.data;
			console.log(result.data);
			socket.emit("roomentry", result.data);
		});
		$("#chat-cont").on("keyup", (key) => {
			// console.log(key);
			if (key.keyCode == 13) {
				socket.emit("sendto", { roomname: roomname, msg: key.target.value });
				$(".messages").append(`<div>${key.target.value}</div>`);
				axios({
					url: "/api/storechat",
					method: "post",
					data: { content: key.target.value, roomname: roomname },
				}).then((result) => {
					console.log(result.data);
					socket.emit("roomentry", "hi im entry");
				});
			}
		});
		socket.on("recieve", (msg) => {
			console.log("revieve", msg);
		});
	});
	$("#close_chat").click(() => {
		$("#modal_window_chat").hide();
	});
	$("#chat-cont").on("keyup", (key) => {
		// console.log(key);
		if (key.keyCode == 13) {
			$(".messages").append(`<div>${key.target.value}</div>`);
		}
	});
</script>
