<footer>
	<hr>
	<div class="footerbox">
		<div class="company">
			<div>이웃사촌(주) 사업자정보</div>
			<ul class="companyli">
				<li>대표이사:홍길동</li>
				<li>개인정보보호책임자:홍길동</li>
			</ul>
			<ul class="companyli">
				<li>사업자등록번호:123-12-12312</li>
				<li>EMAIL:asdf@asdf.kr</li>
			</ul>
			<ul class="companyli">
				<li>FAX:12-123-1233</li>
				<li>주소:서울특별시한강보이고좋은대로12길12,타워1층</li>
			</ul>
		</div>
		<div class="servies">
			<div>고객센터</div>
			<div class="callnum">1234-3123</div>
			<div class="clltime">운영시간:11시~16시(주말/공휴일 휴무)</div>
		</div>
	</div>
	<div class="info">
		<ul>
			<li>회사소개</li>
			<li>|</li>
			<li>이용약관</li>
			<li>|</li>
			<li>운영정책</li>
			<li>|</li>
			<li>개인정보처리방침</li>
			<li>|</li>
			<li>청소년보호정책</li>
		</ul>
	</div>
</footer>
