<div class="navBar">
    <div id="menu" class="hamberger">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
          </svg>
    </div>
    <div style="display: flex;height:80px ;width:150px ;position:absolute; right:20px; justify-content: center;">
        <div class="Login" onclick="Login()">
            Login
        </div>
        <div class="Assign" onclick="Assign()">
            Assign
        </div>
    </div>
</div>
</div>

<div id="side_menu" class="side">
        <div class="menu" style="margin-left: 0; margin-top:30px">
            돋보기 이모티콘
        </div>
        <div class="menu" style="margin-left: 0; margin-top:30px">
            메뉴
        </div>
        <div class="menu" style="margin-left: 0; margin-top:30px">
            더미 데이터
        </div>
        <div class="menu" style="margin-left: 0; margin-top:30px">
            더미데이터
        </div>
</div>


