<div class="navBar">
    <div class="Logo">
        로고
    </div>
    <div class="navMenu">
        <div class="menu">
            돋보기 이모티콘
        </div>
        <div class="menu">
            메뉴
        </div>
        <div class="menu">
            더미 데이터
        </div>
        <div class="menu">
            더미데이터
        </div>
    </div>
    <div class="LoginMenu">
        <div class="Login" onclick="Login()">
            Login
        </div>
        <div class="Assign">
            Assign
        </div>
    </div>
</div>
</div>

<div id="modal_window" class="modal_back">
<div class="modalPage">
    <%- include("Login.ejs") %>

</div>