<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>이웃 사촌</title>
		<link rel="stylesheet" href="/static/css/main/main.css" />
		

		<%- include("Head.ejs") %>
	</head>
	<body style=" font-family: 'BinggraeSamanco'; " class="bodyyy">
		
		<%- include("navBar.ejs") %>
   <!-- <div class="main">
      <h1 style="--count: 6;">
        
        <span aria-hidden style="--index: 0;">이웃사촌</span>
        <span aria-hidden style="--index: 1;">이웃사촌</span>
        <span aria-hidden style="--index: 2;">이웃사촌</span>
        <span aria-hidden style="--index: 3;">이웃사촌</span>
        <span aria-hidden style="--index: 4;">이웃사촌</span>
        <span aria-hidden style="--index: 5;">이웃사촌</span>
        <span>이웃사촌</span>
      </h1>
    </div> -->
    <div class="header">
		<div class="cont1-text"> 우리 동네
			물물교환 서비스 </div>
		<svg width="100%" height="100%" viewBox="0 0 1381 656" fill="none" xmlns="http://www.w3.org/2000/svg">
		  <path class="path path1" d="M383 456C397.397 447.098 406.471 478.745 408.5 486.5M408.5 486.5C400.517 504 359.494 602.5 311.495 654.5C-28.0043 522.5 -106.504 31 167.995 3.50006C297.995 -17.5 392.995 269.5 303.495 269.5C252.995 255 329.495 77 444.495 127.5C533.625 168.064 497.328 335 408.5 486.5ZM408.5 486.5C440.328 456.5 617.496 460 657.496 511C612.702 491.959 582.075 483.746 488.496 486.5C509.996 267.5 558.996 389.5 600.996 309C561.496 350 579.496 306 542.496 315.5C538.996 296.5 556.996 297 556.996 289C556.996 233 598.996 259.5 606.996 252.5C639.496 227.5 605.496 227.5 641.496 203C645.996 189.5 574.496 197 584.496 260C587.799 277.118 591.301 282.346 600.996 283C607.996 283.472 597.996 295 622.496 317.5C598.996 331.5 635.496 327 644.996 418L658.996 338.5L640.996 327C675.996 341 720.498 240 649.496 205C637.998 174 744.498 217 700.498 275.5C690.498 295.5 730.998 300.5 713.498 316C658.708 346.299 669.155 348.092 722.498 338.5C741.547 379.096 752.778 398.985 775.998 418C788.791 444.255 788.291 448.252 780.998 446.5C768.729 449.288 777.235 434.182 787.998 412L830.998 370.5C816.498 370.5 830.998 364.5 828.498 331.5C815.498 398 756.998 391.5 749.998 331.5C749.998 319 730.998 335.5 732.998 304.5C732.998 279.5 747.998 294.5 745.498 275.5C748.964 268.875 755.829 263.617 782.998 249.5C770.078 245.105 761.044 249.721 740.498 275.5H735.498C724.998 232.5 814.498 207 841.998 264C848.998 297.5 835.498 261.5 812.998 255.5C831.044 268.457 837.185 276.104 839.998 290.5C851 282 852.5 323.5 839.998 323.5L830.998 330L836.5 329L835 368H828.498C875.459 372.428 892.5 396.5 903.5 476.5C910 315.5 872.5 404 854 345C867.501 331.717 875.753 324.297 901.5 311.5M902.5 311V272.5C882 264 880.265 241.568 899.5 240C882 175 976 153.5 996 212.5C983.364 202.189 976.171 199.65 963 207.5H953.5C940.786 202.121 933.95 201.032 923 207.5C901.5 229 904.5 301 941.5 318.5C974.5 330 995 316 997.5 248C995.018 315.5 962.5 309.5 941.5 388.5C931.59 387.126 922.01 377.779 895.5 341.5C934 368 973 346.5 991 334.5C1054.5 351 1058.5 389.5 1078.5 464.5L1033 453.5C1031 423.5 1052 418.5 1085.5 388.5C1077.92 352.433 1069.66 331.73 1094 299.5C1087.75 273.079 1081.81 265.842 1065 272.5L1037.5 305.5C1055.13 301.841 1061.68 306.211 1071 318.5C1079.87 307.524 1087.23 299.187 1098 295.071M1098 295.071C1110.14 290.43 1126.63 291.152 1154.5 299.5C1151.98 327.974 1141.25 338.361 1088 336.5C1087.72 312.531 1088.46 300.761 1098 295.071ZM1098 295.071C1110.92 287.918 1125.43 290.193 1154.5 297C1160 253.5 1180.5 272.5 1203 303C1203 308 1185 303 1175.5 321.5L1156 301C1176.5 362.5 1155.51 424.925 1096.5 396.5C1098.5 431 1124 451.5 1150.5 401C1166.58 397.779 1179.84 414.301 1206.5 457C1263.5 408.5 1296.5 426 1305 408.5C1314.5 393 1275 396.5 1279 352.5V251.5C1263.5 152 1136.5 153 1156 251.5C1162.39 266.73 1164.53 268.065 1163.5 246L1188.5 207C1208 230.5 1230.5 204.5 1242 251.5C1251.72 252.058 1256.54 251.745 1262.5 248.5V266C1260.51 274.064 1257.51 275.176 1251 275C1247.71 298.953 1244.5 311.548 1221.5 323.5C1328.01 356.601 1343 396.5 1348.5 487C1277.03 486.544 1237.2 486.676 1183 512.5C1291.1 424.181 1305 476 1379.5 597" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
		  </svg>
		
  
		  
	  </div>
  
	  <div class="content1">
		  <svg  viewBox="0 0 1438 2854" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path class="path path2" d="M1440.5 413.247C1300.5 413.247 1373.05 413.247 1068.03 413.247L1011.03 333.22C998.465 326.274 1146.04 202.317 1027.53 213.178C1032.44 137.162 973.033 124.004 950.032 186.312C942.142 241.936 959.486 269.424 1034.53 310.926C1083.7 321.135 1100.64 315.463 1093.54 265.196C1123.14 218.726 1119.62 195.868 1089.54 158.873C1131.04 100.568 1106.73 42.3241 1035.03 37.1169C989.816 -27.8168 931.532 1.10447 944.033 92.5647C892.514 118.077 875.031 173.164 930.032 223.467C876.53 241.188 891.531 317.214 987.034 305.21C994.842 304.251 997.011 311.259 998.034 333.22V413.247H746.026V310.926H778.027V215.464H659.023V310.926H700.024V395.527H803.028V210.891H849.029L717.025 39.9751L659.023 105.712V69.6997H631.522V134.293L565.02 210.891H611.021V413.247H498.516L509.516 395.527L481.515 413.247V395.527L448.014 413.247V395.527L421.013 413.247V395.527L386.012 413.247V395.527L355.511 413.247V395.527L328.51 413.247V395.527L291.009 413.247V395.527L249.508 413.247V395.527L214.507 413.247V395.527L182.506 413.247V395.527L147.505 413.247V395.527L119.504 413.247V395.527L86.0025 413.247V395.527L50.0011 413.247V395.527L20.5002 430.968H158.505L147.505 588.737H386.012L316.51 812.243L551.519 783.661C551.519 727.642 570.932 669.736 605.021 697.346C611.897 704.291 612.723 710.059 613.521 720.783C614.755 738.848 611.615 744.488 605.021 753.365C579.433 757.761 564.652 760.718 571.52 728.214C577.57 714.418 591.52 704.205 596.021 720.783C604.505 756.527 567.52 753.365 601.021 760.225L558.519 808.241L542.519 1034.03C504.3 1060.33 498.473 1090.66 498.016 1154.65C536.146 1121.39 559.738 1103.29 563.019 1061.47H535.018C518.518 1061.47 510.862 1100.62 528.018 1102.06C539.478 1101.62 551.519 1088.91 546.519 1066.05L571.02 1054.04L555.019 1044.89L575.52 1051.75L813.028 942.574C816.028 915.269 817.273 899.227 824.528 879.123C833.529 854.186 847.963 827.394 870.53 839.681C882.221 847.603 887.03 865.976 875.03 891.699C858.53 893.986 841.529 908.276 837.029 896.844C829.379 877.408 846.029 853.971 861.03 860.259C870.53 867.119 867.03 886.554 857.529 893.414L872.53 895.129C842.445 941.151 829.83 943.326 823.528 951.148C817.028 951.148 818.028 933.999 826.028 933.999C831.885 942.001 834.529 949.433 834.529 960.866L879.03 1259.83C883.53 1268.4 895.031 1258.11 888.031 1250.11C882.03 1246.11 871.03 1247.25 861.53 1263.83C836.529 1301.56 837.529 1362.72 839.529 1364.43C877.535 1340.88 903.531 1301.56 903.531 1282.69C890.225 1276.44 881.184 1271.29 875.53 1272.97C862.777 1277.17 850.529 1308.41 866.03 1313.56C875.53 1319.85 893.349 1294.61 888.031 1279.26L903.531 1277.55C902.529 1265.85 901.459 1258.96 908.031 1252.4L1066.53 1102.06C1074.36 1104.29 1075.54 1115.78 1068.03 1123.21C1062.25 1121.84 1062.12 1115.6 1065.53 1098.06C1069.53 1037.46 1098.78 999.145 1122.04 1015.74C1138.54 1028.32 1135.04 1056.33 1114.04 1082.62C1103.13 1080.02 1095.34 1079.96 1089.04 1073.48C1080.04 1062.04 1092.17 1031.13 1109.04 1035.75C1122.64 1044.07 1114.04 1070.05 1100.54 1076.33L1112.54 1086.05C1098.56 1098.42 1091.54 1106.29 1079.54 1120.92C1078.5 1125.02 1079.3 1126.69 1081.04 1129.5C1130.98 1221.53 1149.72 1270.13 1129.04 1339.28C1180.04 1349 1189.54 1377.58 1237.04 1387.87C1322.54 1405.02 1344.04 1295.84 1265.04 1275.83C1291.04 1250.11 1277.07 1189.25 1237.04 1184.94C1171.54 1177.9 1156.04 1291.84 1141.04 1347.86C1112.54 1568.5 1458.55 1756.57 1392.55 2086.4C1286.04 2911.83 1690.06 2106.41 1063.53 2514.55C887.529 2629.2 1443.55 2575.14 702.024 2376.21C570.02 2328.77 565.176 2281.36 562.519 2236.74C562.293 2227.56 562.134 2222.47 565.02 2208.73L650.522 1772C654.812 1754.63 655.938 1743.52 683.024 1750.28L818.528 1782.29L805.028 1801.16L749.026 1785.72C737.025 1782.29 733.525 1796.58 745.526 1798.87L805.028 1813.73L830.029 1784.58L879.53 1797.73C891.031 1802.3 897.531 1811.45 895.031 1824.02L809.528 2265.89C805.927 2284.19 794.527 2295.04 786.027 2291.04L592.02 2245.31C578.898 2240.55 573.643 2236.7 577.52 2222.45L660.023 1798.87L875.03 1853.75L799.528 2233.31L546.019 2170.43C383.81 2103.19 446.515 2013.8 251.508 2025.23C49.4247 2058.09 133.503 2261.32 357.011 2395.65C498.016 2514.55 357.013 2788.04 168.506 2684C-1.99957 2614.26 1.9969 2770 1.99845 2852.5" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
			</svg>
			
		  
		
		  
		  
  
		  
	  </div>
	  <div class="content2">
		<svg  viewBox="0 0 1181 710" fill="none" xmlns="http://www.w3.org/2000/svg">
		  <path class="path path3" d="M4.00135 0C1.74867 101.122 33.662 127.895 181.598 93.5096C413.328 42.3056 430.387 101.818 529.786 154.049C652.852 208.627 683.369 185.715 743.401 213.656C772.917 223.529 837.451 212.911 807.936 205.274C801.821 203.739 798.343 203.812 791.927 205.274C793.51 201.041 792.335 199.246 783.923 197.823C752.406 193.911 761.41 217.941 772.917 220.362C810.437 232.284 888.478 236.568 941.506 222.411C975.024 211.048 952.618 194.892 905.488 202.294C913.993 187.764 871.97 178.451 844.455 191.862C813.438 209.931 860 269.548 1124.89 273.799C1355 286.057 425.23 558.822 434.735 556.3C625.376 505.714 720.388 173.984 379.205 377.008C140.576 202.294 -51.0179 537.081 425.23 558.822C425.23 558.822 1097.97 371.921 1169 472.5C1253.5 647.302 774.317 630.513 740.9 640.596C730.636 644.994 723.427 645.893 709.883 646.743C712.469 659.131 704.094 663.754 676.865 669.096C673.521 683.662 661.7 688.863 606.828 688.096L582.815 686.42C590.819 702.626 531.287 714.734 487.763 697.224C477.365 690.226 498.77 680.251 511.776 682.508C536.15 686.737 522.782 702.998 481.26 687.165C478.709 676.428 487.288 674.359 511.776 674.312L578.813 689.214V685.116L490.265 669.096C481.26 664.439 489.348 652.63 524.784 651.4C519.976 653.177 521.572 654.358 527.785 656.989C481.26 664.067 498.77 677.479 540.792 669.096C553.753 663.141 552.792 660.174 533.288 655.685V651.4C557.542 658.544 596.822 666.116 617.833 666.116C651.13 668.088 672.379 668.71 668.361 677.665L673.864 668.538C661.857 670.287 664.859 661.273 647.349 667.234C656.354 653.822 647.111 642.363 636.343 656.989C633.598 661.221 630.773 662.732 624.837 664.812H607.828C578.935 655.962 560.597 654.06 527.785 650.841C516.26 647.943 511.24 646.077 511.776 641.155L522.282 640.596C514.778 637.244 537.791 626.44 545.795 628.861C578.73 636.465 570.308 649.91 539.291 644.694L511.776 639.479C504.545 628.514 533.288 622.342 555.3 626.067C592.393 628.08 607.828 636.685 647.349 641.9C697.465 639.032 694.518 642.466 706.381 645.812L703.88 637.616C721.389 628.861 686.37 641.075 676.865 631.842C647.349 634.636 614.288 632.214 575.811 626.998C572.585 606.347 580.698 603.76 606.828 609.675C628.221 614.518 613.331 623.645 582.815 626.998C549.797 629.867 540.792 611.724 568.807 606.322L692.874 599.057C737.791 615.351 726.892 626.998 679.867 631.842L709.883 633.518C734.682 622.722 765.597 618.426 692.874 597.567C679.031 589.811 662.562 583.907 665.359 579.126C664.973 576.746 667.719 575.916 676.865 575.214C686.249 579.636 682.277 580.274 668.361 580.057C653.853 574.283 716.386 578.008 720.388 566.273C715.886 558.822 723.89 553.793 673.864 553.793C667.518 560.529 690.872 561.616 709.883 558.077C707.068 555.052 714.799 552.783 646.349 553.793C657.618 557.575 665.377 557.712 673.864 558.822C637.016 555.226 642.847 567.391 676.865 573.538C675.303 575.114 669.49 574.354 652.352 570.744L643.347 553.234C548.397 562.662 568.807 577.822 621.836 583.783C627.839 588.253 613.831 590.675 598.823 586.204L567.807 575.773C606.828 598.498 647.349 572.234 660.356 580.43C651.309 578.031 637.522 579.876 616.333 581.92C588.951 578.112 578.546 574.21 569.307 563.852C464.751 580.43 439.738 611.724 479.759 622.155L482.761 631.842C472.063 637.965 469.931 640.515 467.753 644.694C465.635 652.874 462.331 656.432 447.242 658.292C451.654 668.225 462.357 671.48 482.761 676.92C443.24 672.263 415.725 645.253 477.258 627.744C446.362 637.654 437.236 643.724 438.737 655.685C401.717 644.694 449.743 615.449 346.688 600.547C274.649 594.959 242.51 573.402 201.61 578.94C230.786 580.335 286.155 597.753 318.672 600.547C398.389 610.763 400.329 618.531 415.225 631.842C425.777 644.129 426.28 649.423 425.23 658.292C457.959 663.337 444.751 669.896 429.232 680.645L382.707 702.998C399.216 705.42 432.635 705.533 458.748 694.988C462.608 688.908 455.503 686.226 429.232 682.508L421.228 686.42V691.449L438.737 697.224L425.23 696.292L418.726 693.685L415.225 688.096L438.737 671.704C438.07 671.704 436.336 671.704 434.735 671.704C433.134 671.704 421.227 680.645 399.216 679.155C372.701 674.312 393.213 661.459 415.225 669.096C430.257 674.312 415.224 685.302 379.705 700.39C346.688 711.567 288.656 709.89 292.658 698.9C294.083 694.988 386.721 673.008 402.217 658.292C404.103 656.882 409.265 656.871 423.229 657.734L400.216 657.361C403.718 650.841 382.723 643.009 357.193 646.557C333.514 651.88 336.144 656.022 342.185 663.508C355.692 674.498 415.224 662.39 384.708 652.89C372.051 650.18 358.694 653.449 332.18 652.89C317.548 653.146 312.286 656.726 301.163 661.087C318.619 651.983 330.787 647.752 364.697 644.694C327.466 648.584 314.955 651.727 296.16 657.734C336.182 646.557 330.679 633.518 301.163 632.4C295.76 632.196 196.564 637.181 192.104 643.204C232.173 639.17 255.533 636.713 273.148 637.616C287.529 638.254 292.898 642.048 303.664 647.302C307.166 652.145 278.177 659.223 265.644 650.469C262.414 643.747 264.075 640.114 283.153 634.263C308.551 633.517 321.174 640.969 319.173 645.44C288.656 663.508 262.642 665.371 193.605 684.185C171.808 696.741 254.638 706.351 292.658 697.596C251.136 702.998 182.746 700.142 186.601 682.135L200.609 681.204L172.594 682.508C127.57 671.89 132.572 658.479 161.088 637.616C158.565 625.872 155.419 618.626 182.099 618.057C200.87 615.309 210.498 613.25 196.607 591.793C205.186 609.153 208.598 618.591 140.576 619.734C143.578 612.469 158.086 603.528 173.594 598.871C152.858 592.062 111.061 602.038 119.065 612.469L139.075 619.175L111.561 612.469C100.794 608.143 100.353 602.814 98.554 593.842C108.849 584.356 121.179 580.126 178.097 578.381C120.017 578.035 99.1764 582.715 92.0505 603.528C83.6851 612.793 70.3286 614.023 26.5142 607.067C4.36049 607.636 3.22915 609.916 0 613.773" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
		  </svg>
		  
  
	  </div>
	  <div class="cardBody">
		<div class="carddd">
		  <h2>내겐 너무 많은 음식.</h2>
		  <p>나와 가까운 이웃들과  
			<br>나누고 교환 하세요.
			<br> 이제 우리
			나눠 먹어요!!</p>
		  <a href="javascript:void(0);">button</a>
		</div>  
	  </div>
	  <div class="content3">
		<svg viewBox="0 0 1308 1903" fill="none" xmlns="http://www.w3.org/2000/svg">
		  <path class="path path4" d="M3.99919 1C1.74772 272.433 33.6425 344.297 181.499 252C413.105 114.558 430.154 274.301 529.5 414.5C652.5 561 683 499.5 743 574.5C772.5 601 837 572.5 807.5 552C801.388 547.879 797.913 548.076 791.5 552C793.082 540.637 791.908 535.821 783.5 532C752 521.5 761 586 772.5 592.5C810 624.5 888 636 941 598C974.5 567.5 952.104 524.133 905 544C913.5 505 871.5 480 844 516C813 564.5 852 658 907.5 673C1073.21 716.051 883 857.5 1224 919C1425.12 926.347 1047.5 1363.5 1213 1247C1498 954.5 1037.16 1235.47 1025 1481.5C1021.24 1598.19 966.5 1656.5 865.5 1667C796.764 1679.92 773.9 1693.43 740.5 1720.5C730.242 1732.31 723.037 1734.72 709.5 1737C712.084 1770.25 703.714 1782.66 676.5 1797C673.158 1836.1 661.343 1850.06 606.5 1848L582.5 1843.5C590.5 1887 531 1919.5 487.5 1872.5C477.107 1853.72 498.5 1826.94 511.5 1833C535.86 1844.35 522.5 1888 481 1845.5C478.45 1816.68 487.024 1811.13 511.5 1811L578.5 1851V1840L490 1797C481 1784.5 489.083 1752.8 524.5 1749.5C519.695 1754.27 521.29 1757.44 527.5 1764.5C481 1783.5 498.5 1819.5 540.5 1797C553.454 1781.02 552.494 1773.05 533 1761V1749.5C557.241 1768.68 596.5 1789 617.5 1789C650.779 1794.29 672.016 1795.96 668 1820L673.5 1795.5C661.5 1800.2 664.5 1776 647 1792C656 1756 646.762 1725.24 636 1764.5C633.256 1775.86 630.432 1779.92 624.5 1785.5H607.5C578.623 1761.74 560.294 1756.64 527.5 1748C515.981 1740.22 510.964 1735.21 511.5 1722L522 1720.5C514.5 1711.5 537.5 1682.5 545.5 1689C578.418 1709.41 570 1745.5 539 1731.5L511.5 1717.5C504.273 1688.07 533 1671.5 555 1681.5C592.073 1686.9 607.5 1710 647 1724C697.089 1716.3 694.143 1725.52 706 1734.5L703.5 1712.5C721 1689 686 1721.79 676.5 1697C647 1704.5 613.956 1698 575.5 1684C572.275 1628.57 580.384 1621.62 606.5 1637.5C627.882 1650.5 613 1675 582.5 1684C549.5 1691.7 540.5 1643 568.5 1628.5L692.5 1609C737.394 1652.74 726.5 1684 679.5 1697L709.5 1701.5C734.286 1672.52 765.185 1660.99 692.5 1605C678.665 1584.18 662.204 1568.33 665 1555.5C664.615 1549.11 667.359 1546.88 676.5 1545C685.879 1556.87 681.909 1558.58 668 1558C653.5 1542.5 716 1552.5 720 1521C715.5 1501 723.5 1487.5 673.5 1487.5C667.158 1505.58 690.5 1508.5 709.5 1499C706.686 1490.88 714.414 1484.79 646 1487.5C657.263 1497.65 665.018 1498.02 673.5 1501C636.672 1491.35 642.5 1524 676.5 1540.5C674.938 1544.73 669.129 1542.69 652 1533L643 1486C548.1 1511.31 568.5 1552 621.5 1568C627.5 1580 613.5 1586.5 598.5 1574.5L567.5 1546.5C606.5 1607.5 647 1537 660 1559C650.958 1552.56 637.178 1557.51 616 1563C588.633 1552.78 578.234 1542.31 569 1514.5C464.5 1559 439.5 1643 479.5 1671L482.5 1697C471.808 1713.44 469.677 1720.28 467.5 1731.5C465.383 1753.46 462.081 1763.01 447 1768C451.41 1794.66 462.107 1803.4 482.5 1818C443 1805.5 415.5 1733 477 1686C446.12 1712.6 437 1728.89 438.5 1761C401.5 1731.5 449.5 1653 346.5 1613C274.5 1598 242.379 1540.14 201.5 1555C230.661 1558.75 286 1605.5 318.5 1613C398.174 1640.42 400.112 1661.27 415 1697C425.547 1729.98 426.049 1744.19 425 1768C457.711 1781.54 444.511 1799.15 429 1828L382.5 1888C399 1894.5 432.4 1894.8 458.5 1866.5C462.358 1850.18 455.257 1842.98 429 1833L421 1843.5V1857L438.5 1872.5L425 1870L418.5 1863L415 1848L438.5 1804C437.833 1804 436.1 1804 434.5 1804C432.9 1804 421 1828 399 1824C372.5 1811 393 1776.5 415 1797C430.024 1811 415 1840.5 379.5 1881C346.5 1911 288.5 1906.5 292.5 1877C293.924 1866.5 386.512 1807.5 402 1768C403.885 1764.21 409.043 1764.18 423 1766.5L400 1765.5C403.5 1748 382.516 1726.98 357 1736.5C333.333 1750.79 335.962 1761.91 342 1782C355.5 1811.5 415 1779 384.5 1753.5C371.85 1746.22 358.5 1755 332 1753.5C317.376 1754.19 312.117 1763.8 301 1775.5C318.447 1751.06 330.608 1739.71 364.5 1731.5C327.289 1741.94 314.785 1750.38 296 1766.5C336 1736.5 330.5 1701.5 301 1698.5C295.6 1697.95 196.457 1711.33 192 1727.5C232.047 1716.67 255.394 1710.08 273 1712.5C287.373 1714.21 292.74 1724.4 303.5 1738.5C307 1751.5 278.027 1770.5 265.5 1747C262.272 1728.96 263.932 1719.21 283 1703.5C308.384 1701.5 321 1721.5 319 1733.5C288.5 1782 262.5 1787 193.5 1837.5C171.715 1871.2 254.5 1897 292.5 1873.5C251 1888 182.647 1880.33 186.5 1832L200.5 1829.5L172.5 1833C127.5 1804.5 132.5 1768.5 161 1712.5C158.478 1680.98 155.334 1661.53 182 1660C200.761 1652.62 210.384 1647.1 196.5 1589.5C205.074 1636.1 208.485 1661.43 140.5 1664.5C143.5 1645 158 1621 173.5 1608.5C152.775 1590.22 111 1617 119 1645L139 1663L111.5 1645C100.739 1633.39 100.298 1619.08 98.5 1595C108.79 1569.54 121.113 1558.18 178 1553.5C119.951 1552.57 99.122 1565.13 92 1621C83.6391 1645.87 70.2909 1649.17 26.5 1630.5C4.35815 1632.03 3.22742 1638.15 0 1648.5" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
		  </svg>
		  
		  
  
	  </div>
  <!-- <script src="svg.js"></script> -->
  <!-- a tag for my tutorial channel link -->
  
  <script>
 // Inspired by https://dashgo.com/

const content1 = document.querySelector('.content1')
const content2 = document.querySelector('.content2')
const content3 = document.querySelector('.content3')
const path1 = document.querySelector('.path2')
const path2 = document.querySelector('.path3')
const path3 = document.querySelector('.path4')
const path1Length = path1.getTotalLength()
const path2Length = path2.getTotalLength()
const path3Length = path3.getTotalLength()
path1.style.strokeDasharray  = path1Length
path1.style.strokeDashoffset = calcDashoffset(window.innerHeight * 0.8, content1, path1Length)

path2.style.strokeDasharray  = path2Length
path2.style.strokeDashoffset = path2Length

path3.style.strokeDasharray  = path3Length
path3.style.strokeDashoffset = path3Length

function calcDashoffset(scrollY, element, length) {
  const ratio = (scrollY - element.offsetTop) / element.offsetHeight
  const value = length - (length * ratio)
  return value < 0 ? 0 : value > length ? length : value
}

function scrollHandler() {
  const scrollY = window.scrollY + (window.innerHeight * 0.8)
  path1.style.strokeDashoffset = calcDashoffset(scrollY, content1, path1Length)
  path2.style.strokeDashoffset = calcDashoffset(scrollY -250, content2, path2Length)
  path3.style.strokeDashoffset = calcDashoffset(scrollY, content3, path3Length)
}

window.addEventListener('scroll', scrollHandler)



// slide
// const REPLAY = () => {
//   const MARKUP = document.body.innerHTML
//   document.body.innerHTML = ''
//   requestAnimationFrame(() => document.body.innerHTML = MARKUP)
// }

// document.body.addEventListener('click', REPLAY)
  </script>

		<% if(is_login){ %>
			<%- include("AddItem.ejs") %>
		<% } %>
	
	</body>
</html>
