<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>이웃 사촌인</title>
		<link rel="stylesheet" href="/static/css/main/main.css" />
		

		<%- include("Head.ejs") %>
	</head>
	<body style=" font-family: 'BinggraeSamanco'; " class="bodyyy">
		
		<%- include("navBar.ejs") %>
   <!-- <div class="main">
      <h1 style="--count: 6;">
        
        <span aria-hidden style="--index: 0;">이웃사촌</span>
        <span aria-hidden style="--index: 1;">이웃사촌</span>
        <span aria-hidden style="--index: 2;">이웃사촌</span>
        <span aria-hidden style="--index: 3;">이웃사촌</span>
        <span aria-hidden style="--index: 4;">이웃사촌</span>
        <span aria-hidden style="--index: 5;">이웃사촌</span>
        <span>이웃사촌</span>
      </h1>
    </div> -->
    <div class="header">
		<div class="cont1-text"> 우리 동네
			물물교환 서비스 </div>
		<svg width="100%" height="100%" viewBox="0 0 1381 656" fill="none" xmlns="http://www.w3.org/2000/svg">
		  <path class="path path1" d="M383 456C397.397 447.098 406.471 478.745 408.5 486.5M408.5 486.5C400.517 504 359.494 602.5 311.495 654.5C-28.0043 522.5 -106.504 31 167.995 3.50006C297.995 -17.5 392.995 269.5 303.495 269.5C252.995 255 329.495 77 444.495 127.5C533.625 168.064 497.328 335 408.5 486.5ZM408.5 486.5C440.328 456.5 617.496 460 657.496 511C612.702 491.959 582.075 483.746 488.496 486.5C509.996 267.5 558.996 389.5 600.996 309C561.496 350 579.496 306 542.496 315.5C538.996 296.5 556.996 297 556.996 289C556.996 233 598.996 259.5 606.996 252.5C639.496 227.5 605.496 227.5 641.496 203C645.996 189.5 574.496 197 584.496 260C587.799 277.118 591.301 282.346 600.996 283C607.996 283.472 597.996 295 622.496 317.5C598.996 331.5 635.496 327 644.996 418L658.996 338.5L640.996 327C675.996 341 720.498 240 649.496 205C637.998 174 744.498 217 700.498 275.5C690.498 295.5 730.998 300.5 713.498 316C658.708 346.299 669.155 348.092 722.498 338.5C741.547 379.096 752.778 398.985 775.998 418C788.791 444.255 788.291 448.252 780.998 446.5C768.729 449.288 777.235 434.182 787.998 412L830.998 370.5C816.498 370.5 830.998 364.5 828.498 331.5C815.498 398 756.998 391.5 749.998 331.5C749.998 319 730.998 335.5 732.998 304.5C732.998 279.5 747.998 294.5 745.498 275.5C748.964 268.875 755.829 263.617 782.998 249.5C770.078 245.105 761.044 249.721 740.498 275.5H735.498C724.998 232.5 814.498 207 841.998 264C848.998 297.5 835.498 261.5 812.998 255.5C831.044 268.457 837.185 276.104 839.998 290.5C851 282 852.5 323.5 839.998 323.5L830.998 330L836.5 329L835 368H828.498C875.459 372.428 892.5 396.5 903.5 476.5C910 315.5 872.5 404 854 345C867.501 331.717 875.753 324.297 901.5 311.5M902.5 311V272.5C882 264 880.265 241.568 899.5 240C882 175 976 153.5 996 212.5C983.364 202.189 976.171 199.65 963 207.5H953.5C940.786 202.121 933.95 201.032 923 207.5C901.5 229 904.5 301 941.5 318.5C974.5 330 995 316 997.5 248C995.018 315.5 962.5 309.5 941.5 388.5C931.59 387.126 922.01 377.779 895.5 341.5C934 368 973 346.5 991 334.5C1054.5 351 1058.5 389.5 1078.5 464.5L1033 453.5C1031 423.5 1052 418.5 1085.5 388.5C1077.92 352.433 1069.66 331.73 1094 299.5C1087.75 273.079 1081.81 265.842 1065 272.5L1037.5 305.5C1055.13 301.841 1061.68 306.211 1071 318.5C1079.87 307.524 1087.23 299.187 1098 295.071M1098 295.071C1110.14 290.43 1126.63 291.152 1154.5 299.5C1151.98 327.974 1141.25 338.361 1088 336.5C1087.72 312.531 1088.46 300.761 1098 295.071ZM1098 295.071C1110.92 287.918 1125.43 290.193 1154.5 297C1160 253.5 1180.5 272.5 1203 303C1203 308 1185 303 1175.5 321.5L1156 301C1176.5 362.5 1155.51 424.925 1096.5 396.5C1098.5 431 1124 451.5 1150.5 401C1166.58 397.779 1179.84 414.301 1206.5 457C1263.5 408.5 1296.5 426 1305 408.5C1314.5 393 1275 396.5 1279 352.5V251.5C1263.5 152 1136.5 153 1156 251.5C1162.39 266.73 1164.53 268.065 1163.5 246L1188.5 207C1208 230.5 1230.5 204.5 1242 251.5C1251.72 252.058 1256.54 251.745 1262.5 248.5V266C1260.51 274.064 1257.51 275.176 1251 275C1247.71 298.953 1244.5 311.548 1221.5 323.5C1328.01 356.601 1343 396.5 1348.5 487C1277.03 486.544 1237.2 486.676 1183 512.5C1291.1 424.181 1305 476 1379.5 597" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
		  </svg>
		
  
		  
	  </div>
  
	  <div class="content1">
		  <svg  viewBox="0 0 1438 2854" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path class="path path2" d="M1440.5 413.247C1300.5 413.247 1373.05 413.247 1068.03 413.247L1011.03 333.22C998.465 326.274 1146.04 202.317 1027.53 213.178C1032.44 137.162 973.033 124.004 950.032 186.312C942.142 241.936 959.486 269.424 1034.53 310.926C1083.7 321.135 1100.64 315.463 1093.54 265.196C1123.14 218.726 1119.62 195.868 1089.54 158.873C1131.04 100.568 1106.73 42.3241 1035.03 37.1169C989.816 -27.8168 931.532 1.10447 944.033 92.5647C892.514 118.077 875.031 173.164 930.032 223.467C876.53 241.188 891.531 317.214 987.034 305.21C994.842 304.251 997.011 311.259 998.034 333.22V413.247H746.026V310.926H778.027V215.464H659.023V310.926H700.024V395.527H803.028V210.891H849.029L717.025 39.9751L659.023 105.712V69.6997H631.522V134.293L565.02 210.891H611.021V413.247H498.516L509.516 395.527L481.515 413.247V395.527L448.014 413.247V395.527L421.013 413.247V395.527L386.012 413.247V395.527L355.511 413.247V395.527L328.51 413.247V395.527L291.009 413.247V395.527L249.508 413.247V395.527L214.507 413.247V395.527L182.506 413.247V395.527L147.505 413.247V395.527L119.504 413.247V395.527L86.0025 413.247V395.527L50.0011 413.247V395.527L20.5002 430.968H158.505L147.505 588.737H386.012L316.51 812.243L551.519 783.661C551.519 727.642 570.932 669.736 605.021 697.346C611.897 704.291 612.723 710.059 613.521 720.783C614.755 738.848 611.615 744.488 605.021 753.365C579.433 757.761 564.652 760.718 571.52 728.214C577.57 714.418 591.52 704.205 596.021 720.783C604.505 756.527 567.52 753.365 601.021 760.225L558.519 808.241L542.519 1034.03C504.3 1060.33 498.473 1090.66 498.016 1154.65C536.146 1121.39 559.738 1103.29 563.019 1061.47H535.018C518.518 1061.47 510.862 1100.62 528.018 1102.06C539.478 1101.62 551.519 1088.91 546.519 1066.05L571.02 1054.04L555.019 1044.89L575.52 1051.75L813.028 942.574C816.028 915.269 817.273 899.227 824.528 879.123C833.529 854.186 847.963 827.394 870.53 839.681C882.221 847.603 887.03 865.976 875.03 891.699C858.53 893.986 841.529 908.276 837.029 896.844C829.379 877.408 846.029 853.971 861.03 860.259C870.53 867.119 867.03 886.554 857.529 893.414L872.53 895.129C842.445 941.151 829.83 943.326 823.528 951.148C817.028 951.148 818.028 933.999 826.028 933.999C831.885 942.001 834.529 949.433 834.529 960.866L879.03 1259.83C883.53 1268.4 895.031 1258.11 888.031 1250.11C882.03 1246.11 871.03 1247.25 861.53 1263.83C836.529 1301.56 837.529 1362.72 839.529 1364.43C877.535 1340.88 903.531 1301.56 903.531 1282.69C890.225 1276.44 881.184 1271.29 875.53 1272.97C862.777 1277.17 850.529 1308.41 866.03 1313.56C875.53 1319.85 893.349 1294.61 888.031 1279.26L903.531 1277.55C902.529 1265.85 901.459 1258.96 908.031 1252.4L1066.53 1102.06C1074.36 1104.29 1075.54 1115.78 1068.03 1123.21C1062.25 1121.84 1062.12 1115.6 1065.53 1098.06C1069.53 1037.46 1098.78 999.145 1122.04 1015.74C1138.54 1028.32 1135.04 1056.33 1114.04 1082.62C1103.13 1080.02 1095.34 1079.96 1089.04 1073.48C1080.04 1062.04 1092.17 1031.13 1109.04 1035.75C1122.64 1044.07 1114.04 1070.05 1100.54 1076.33L1112.54 1086.05C1098.56 1098.42 1091.54 1106.29 1079.54 1120.92C1078.5 1125.02 1079.3 1126.69 1081.04 1129.5C1130.98 1221.53 1149.72 1270.13 1129.04 1339.28C1180.04 1349 1189.54 1377.58 1237.04 1387.87C1322.54 1405.02 1344.04 1295.84 1265.04 1275.83C1291.04 1250.11 1277.07 1189.25 1237.04 1184.94C1171.54 1177.9 1156.04 1291.84 1141.04 1347.86C1112.54 1568.5 1458.55 1756.57 1392.55 2086.4C1286.04 2911.83 1690.06 2106.41 1063.53 2514.55C887.529 2629.2 1443.55 2575.14 702.024 2376.21C570.02 2328.77 565.176 2281.36 562.519 2236.74C562.293 2227.56 562.134 2222.47 565.02 2208.73L650.522 1772C654.812 1754.63 655.938 1743.52 683.024 1750.28L818.528 1782.29L805.028 1801.16L749.026 1785.72C737.025 1782.29 733.525 1796.58 745.526 1798.87L805.028 1813.73L830.029 1784.58L879.53 1797.73C891.031 1802.3 897.531 1811.45 895.031 1824.02L809.528 2265.89C805.927 2284.19 794.527 2295.04 786.027 2291.04L592.02 2245.31C578.898 2240.55 573.643 2236.7 577.52 2222.45L660.023 1798.87L875.03 1853.75L799.528 2233.31L546.019 2170.43C383.81 2103.19 446.515 2013.8 251.508 2025.23C49.4247 2058.09 133.503 2261.32 357.011 2395.65C498.016 2514.55 357.013 2788.04 168.506 2684C-1.99957 2614.26 1.9969 2770 1.99845 2852.5" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
			</svg>
			
		  
		
		  
		  
  
		  
	  </div>
	  <div class="content2">
		<svg  viewBox="0 0 1181 710" fill="none" xmlns="http://www.w3.org/2000/svg">
		  <path class="path path3" d="M4.00135 0C1.74867 101.122 33.662 127.895 181.598 93.5096C413.328 42.3056 430.387 101.818 529.786 154.049C652.852 208.627 683.369 185.715 743.401 213.656C772.917 223.529 837.451 212.911 807.936 205.274C801.821 203.739 798.343 203.812 791.927 205.274C793.51 201.041 792.335 199.246 783.923 197.823C752.406 193.911 761.41 217.941 772.917 220.362C810.437 232.284 888.478 236.568 941.506 222.411C975.024 211.048 952.618 194.892 905.488 202.294C913.993 187.764 871.97 178.451 844.455 191.862C813.438 209.931 860 269.548 1124.89 273.799C1355 286.057 425.23 558.822 434.735 556.3C625.376 505.714 720.388 173.984 379.205 377.008C140.576 202.294 -51.0179 537.081 425.23 558.822C425.23 558.822 1097.97 371.921 1169 472.5C1253.5 647.302 774.317 630.513 740.9 640.596C730.636 644.994 723.427 645.893 709.883 646.743C712.469 659.131 704.094 663.754 676.865 669.096C673.521 683.662 661.7 688.863 606.828 688.096L582.815 686.42C590.819 702.626 531.287 714.734 487.763 697.224C477.365 690.226 498.77 680.251 511.776 682.508C536.15 686.737 522.782 702.998 481.26 687.165C478.709 676.428 487.288 674.359 511.776 674.312L578.813 689.214V685.116L490.265 669.096C481.26 664.439 489.348 652.63 524.784 651.4C519.976 653.177 521.572 654.358 527.785 656.989C481.26 664.067 498.77 677.479 540.792 669.096C553.753 663.141 552.792 660.174 533.288 655.685V651.4C557.542 658.544 596.822 666.116 617.833 666.116C651.13 668.088 672.379 668.71 668.361 677.665L673.864 668.538C661.857 670.287 664.859 661.273 647.349 667.234C656.354 653.822 647.111 642.363 636.343 656.989C633.598 661.221 630.773 662.732 624.837 664.812H607.828C578.935 655.962 560.597 654.06 527.785 650.841C516.26 647.943 511.24 646.077 511.776 641.155L522.282 640.596C514.778 637.244 537.791 626.44 545.795 628.861C578.73 636.465 570.308 649.91 539.291 644.694L511.776 639.479C504.545 628.514 533.288 622.342 555.3 626.067C592.393 628.08 607.828 636.685 647.349 641.9C697.465 639.032 694.518 642.466 706.381 645.812L703.88 637.616C721.389 628.861 686.37 641.075 676.865 631.842C647.349 634.636 614.288 632.214 575.811 626.998C572.585 606.347 580.698 603.76 606.828 609.675C628.221 614.518 613.331 623.645 582.815 626.998C549.797 629.867 540.792 611.724 568.807 606.322L692.874 599.057C737.791 615.351 726.892 626.998 679.867 631.842L709.883 633.518C734.682 622.722 765.597 618.426 692.874 597.567C679.031 589.811 662.562 583.907 665.359 579.126C664.973 576.746 667.719 575.916 676.865 575.214C686.249 579.636 682.277 580.274 668.361 580.057C653.853 574.283 716.386 578.008 720.388 566.273C715.886 558.822 723.89 553.793 673.864 553.793C667.518 560.529 690.872 561.616 709.883 558.077C707.068 555.052 714.799 552.783 646.349 553.793C657.618 557.575 665.377 557.712 673.864 558.822C637.016 555.226 642.847 567.391 676.865 573.538C675.303 575.114 669.49 574.354 652.352 570.744L643.347 553.234C548.397 562.662 568.807 577.822 621.836 583.783C627.839 588.253 613.831 590.675 598.823 586.204L567.807 575.773C606.828 598.498 647.349 572.234 660.356 580.43C651.309 578.031 637.522 579.876 616.333 581.92C588.951 578.112 578.546 574.21 569.307 563.852C464.751 580.43 439.738 611.724 479.759 622.155L482.761 631.842C472.063 637.965 469.931 640.515 467.753 644.694C465.635 652.874 462.331 656.432 447.242 658.292C451.654 668.225 462.357 671.48 482.761 676.92C443.24 672.263 415.725 645.253 477.258 627.744C446.362 637.654 437.236 643.724 438.737 655.685C401.717 644.694 449.743 615.449 346.688 600.547C274.649 594.959 242.51 573.402 201.61 578.94C230.786 580.335 286.155 597.753 318.672 600.547C398.389 610.763 400.329 618.531 415.225 631.842C425.777 644.129 426.28 649.423 425.23 658.292C457.959 663.337 444.751 669.896 429.232 680.645L382.707 702.998C399.216 705.42 432.635 705.533 458.748 694.988C462.608 688.908 455.503 686.226 429.232 682.508L421.228 686.42V691.449L438.737 697.224L425.23 696.292L418.726 693.685L415.225 688.096L438.737 671.704C438.07 671.704 436.336 671.704 434.735 671.704C433.134 671.704 421.227 680.645 399.216 679.155C372.701 674.312 393.213 661.459 415.225 669.096C430.257 674.312 415.224 685.302 379.705 700.39C346.688 711.567 288.656 709.89 292.658 698.9C294.083 694.988 386.721 673.008 402.217 658.292C404.103 656.882 409.265 656.871 423.229 657.734L400.216 657.361C403.718 650.841 382.723 643.009 357.193 646.557C333.514 651.88 336.144 656.022 342.185 663.508C355.692 674.498 415.224 662.39 384.708 652.89C372.051 650.18 358.694 653.449 332.18 652.89C317.548 653.146 312.286 656.726 301.163 661.087C318.619 651.983 330.787 647.752 364.697 644.694C327.466 648.584 314.955 651.727 296.16 657.734C336.182 646.557 330.679 633.518 301.163 632.4C295.76 632.196 196.564 637.181 192.104 643.204C232.173 639.17 255.533 636.713 273.148 637.616C287.529 638.254 292.898 642.048 303.664 647.302C307.166 652.145 278.177 659.223 265.644 650.469C262.414 643.747 264.075 640.114 283.153 634.263C308.551 633.517 321.174 640.969 319.173 645.44C288.656 663.508 262.642 665.371 193.605 684.185C171.808 696.741 254.638 706.351 292.658 697.596C251.136 702.998 182.746 700.142 186.601 682.135L200.609 681.204L172.594 682.508C127.57 671.89 132.572 658.479 161.088 637.616C158.565 625.872 155.419 618.626 182.099 618.057C200.87 615.309 210.498 613.25 196.607 591.793C205.186 609.153 208.598 618.591 140.576 619.734C143.578 612.469 158.086 603.528 173.594 598.871C152.858 592.062 111.061 602.038 119.065 612.469L139.075 619.175L111.561 612.469C100.794 608.143 100.353 602.814 98.554 593.842C108.849 584.356 121.179 580.126 178.097 578.381C120.017 578.035 99.1764 582.715 92.0505 603.528C83.6851 612.793 70.3286 614.023 26.5142 607.067C4.36049 607.636 3.22915 609.916 0 613.773" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
		  </svg>
		  
  
	  </div>
	  <div class="cardBody">
		<div class="carddd">
		  <h2>내겐 너무 많은 음식.</h2>
		  <p>나와 가까운 이웃들과  
			<br>나누고 교환 하세요.
			<br> 이제 우리
			나눠 먹어요!!</p>
		  <a href="javascript:void(0);">button</a>
		</div>  
	  </div>
	  <div class="content3">
		<svg width="100%" viewBox="0 0 1419 3378" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path class="path path4" d="M1041.34 263.336C1121.92 345.612 1239.18 207.662 1148.15 139.292C1072.32 57.0191 938.325 156.694 1031.85 272.816L1034.22 275.189L1136.77 357.956C1157.76 371.33 1161.91 366.354 1173.14 351.657L1267.46 233.455C1273.79 225.553 1267.34 213.645 1255.94 206.409L1211.06 168.746C1194 144.068 1228.48 126.068 1180.6 92.6714C1118.61 49.4352 1135.41 55.957 1095.71 64.3087C1082.03 67.3885 1073.97 71.0277 1062.67 62.2298L1012.58 21.2427C1004.04 13.6472 1016.71 -5.31742 1029.66 4.81079L1055.74 26.175C1065.22 32.5063 1047.33 59.2149 1035.96 49.0875L994.081 15.0633C992.426 14.6228 991.286 15.8886 989.177 18.6963C952.11 60.2273 931.287 86.648 894.223 138.795C882.505 154.643 887.512 162.895 903.525 177.224L989.331 248.594C1063.11 325.964 963.793 585.359 664.899 444.899C490.392 362.893 416.794 203.382 729.231 252.362C956.772 284.854 1017.47 400.939 1029.45 748.579C1021.03 973.912 881.009 960.004 696.282 1002.59L672.313 913.396C705.676 911.364 827.878 717.603 667.738 898.688C518.172 885.616 640.381 680.787 700.364 821.551L698.485 795.619L717.929 802.116L685.217 776.953C653.702 772.077 641.717 768.262 627.043 760.151C628.036 753.907 641.595 752.077 665.631 748.794L712.58 764.481L668.483 740.258C649.507 743.407 621.223 743.498 616.792 722.987L663.758 714.957L718.133 736.815C705.01 719.464 695.173 709.915 661.243 694.084C647.561 687.7 639.632 676.077 649.876 669.726C715.786 702.819 750.746 713.922 746.585 749.484C754.452 740.391 757.432 730.699 763.054 714.395C751.758 685.963 738.755 675.228 755.528 624.897L765.352 595.495L762.032 594.386L729.708 691.128L595.027 646.128L570.829 655.44C551.349 701.121 504.028 763.858 478.426 747.396C475.979 742.999 478.419 740.633 492.031 736.654C521.62 706.476 539.742 692.417 564.351 649.585C607.998 638.864 648.821 597.151 563.425 617.645C632.843 608.682 630.028 565.041 556.96 592.817C565.252 584.102 566.022 579.614 597.77 568.496C613.086 595.227 636.324 606.155 639.968 595.248C629.438 574.061 621.419 562.134 605.379 540.99L590.678 536.078L539.118 557.861C529.313 560.384 525.574 554.352 535.961 549.953L581.513 528.798L591.946 532.284L609.967 538.305L614.547 545.107L758.395 595.806L757.607 591.853L633.993 548.442C623.028 529.723 620.386 516.65 597.973 506.358L562.555 506.649C525.958 515.074 497.548 538.7 487.103 551.025C461.203 601.823 449.296 628.197 428.988 674.471C357.721 753.543 314.144 794.983 233.106 866.282C152.988 909.216 73.5011 760.151 41.9996 836.5C-20.9669 1012.96 428.987 1172.5 390.5 1026.5C204.227 834.198 166.385 1037.29 73.501 1281L1.99998 1481L164 1513C179.326 1416.68 178.5 1337 212 1281C250.5 1251 245 1250.5 250.5 1220C253.115 1205.5 323 1215.5 318.5 1236L316.5 1242C240.387 1226.98 230.053 1225.72 315.5 1246.5L314 1251.5C226.194 1232.75 243 1240.5 312 1256.5C305.5 1273.5 326 1297.5 326 1317C317.846 1405.15 304 1451 281.5 1534.5L319 1542L342 1348L456.5 1370.5L439 1425C431 1453.5 337.5 1428 337.5 1413C345.272 1400.16 437 1422 432.5 1439L398 1558L439.5 1566.5C451.629 1552.03 469.5 1576 481 1541.5C485 1536 433.5 1490.5 451.5 1477.5C470 1458 516.5 1493.5 540 1482C556 1472.5 555.308 1411.08 511 1399.5C481.5 1397 448 1450.5 459.5 1467.5C474.5 1493.5 518 1490 544.5 1488C560 1488 553 1516.5 501.5 1541C489.022 1548.55 497.5 1565 518 1578L629.5 1599.5C598.5 1575.5 535 1508 572.5 1499.5C595.499 1496.77 605 1532.5 585.5 1531C569 1523.5 587 1505.5 606 1512.5C631.5 1524.5 636 1569.5 617.5 1567.5C597.989 1563.11 614.5 1536.5 641 1536.5C669 1534 688 1584 662 1592C642.5 1593 671 1539.5 694 1546C714.32 1552.4 730.5 1593.5 712.5 1599.5C693 1599.5 707 1544 736.5 1553.5C753.95 1559.57 759 1573.5 750.5 1574.5C736.5 1573 753 1546.5 772 1552.5C780.326 1556.11 778.5 1567.5 773 1567.5C760 1562.5 799 1536 809.5 1551.5C817.595 1569.05 757 1617.5 719 1617.5L861.5 1645.5C811.5 1641 791 1563.5 855.5 1529C868 1523.5 861.5 1507 878 1512L963 1532.5C971.533 1535.83 964.5 1553.5 956.5 1551.5C934 1542 949.5 1536.5 939 1534.5C934.5 1545.5 924 1550 916 1534.5C910.164 1530.51 917 1547 888.5 1540L881 1526C865.5 1534.5 849.044 1528.26 851.5 1519.5C881 1500.5 862.5 1495 878 1499L953 1513.5C961.5 1514.5 953 1546 963 1559C1002 1624.5 958.5 1654.5 921 1656.5L1022 1677C1025 1667.5 979 1615.5 1012.5 1572.5L1023.5 1575C1019.5 1567 1017.09 1550.77 1032.5 1559L1036 1563C1033.5 1550.5 1041 1534.5 1057 1537.5C1076.17 1543.19 1083 1563 1072 1563C1063 1561 1076.5 1537.5 1092 1545.5C1096.78 1549.34 1098.21 1551.58 1095 1556C1109 1549.5 1113 1560.5 1102.5 1567.5C1135.37 1563.78 1137 1581 1129 1581C1112 1581 1128 1565.5 1140 1568.5C1143.6 1569.79 1144.05 1572.07 1144.5 1576.5C1148.96 1571.08 1150.16 1573.18 1151.5 1580C1170 1563 1162 1577.5 1178 1566.5C1206.78 1541.49 1223 1500.5 1231 1504C1245.5 1509.5 1229.5 1530.5 1208.5 1549L1179 1577.5C1181.5 1607 1184 1580 1198 1592.5C1203.12 1603.31 1179.57 1600.9 1203 1603.5C1207.24 1603.66 1204 1609 1194.5 1607.5L1032.5 1577.5C1023.47 1575.2 1031 1581 1046.5 1584.5L1205.5 1614.5C1218 1646 1172.5 1688 1161.5 1703L1216.5 1715C1216.5 1715 481 2648 736.5 2077.5C992 1507 217.554 2326 217.554 2326L146 2017L2.00001 2282L355.5 2112.5L2.00001 2112.5C2.00001 2112.5 584.718 2543.86 129 2713.5C-326.718 2883.14 854 3357.5 974.5 3364C982.13 3372.15 1006.5 3381.5 1034.5 3372C1058 3355 1081 3357 1100.5 3374C1109.42 3376.95 1128.5 3376.5 1138 3372C1292.5 3329 1400.5 2872 1188 2905C1163 2905 1129 2934 1094.5 2944C1035.5 2944 1044.5 3001.5 1054 3003C1065.58 3002.77 1070.47 2997.59 1072 2966C1071.35 2922.85 1071.12 2899 1075.5 2869.5C1122.53 2764.24 1198.5 2734.5 1338 2787C1315 2824 1269.5 2859 1225 2864C1112 2869.5 1089.5 2874.5 1079 2881C1027 2897 954.5 2756 985 2730.5C1003.19 2718.85 1081.5 2898.5 1065.5 2912.5C1019.5 2982.5 987.5 2901 946.5 2903C913.664 2901.62 897.074 2902.84 879.5 2918C761 2992 879.5 3315.5 960 3356.5C1003.7 3372.59 1023.02 3377.67 1027.5 3364C1065.4 3344.29 1085.13 3349.3 1119 3372L1430.5 3372" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
			</svg>
			
		  
		  
  
	  </div>
  <!-- <script src="svg.js"></script> -->
  <!-- a tag for my tutorial channel link -->
  
  <script>
 // Inspired by https://dashgo.com/

const content1 = document.querySelector('.content1')
const content2 = document.querySelector('.content2')
const content3 = document.querySelector('.content3')
const path1 = document.querySelector('.path2')
const path2 = document.querySelector('.path3')
const path3 = document.querySelector('.path4')
const path1Length = path1.getTotalLength()
const path2Length = path2.getTotalLength()
const path3Length = path3.getTotalLength()
path1.style.strokeDasharray  = path1Length
path1.style.strokeDashoffset = calcDashoffset(window.innerHeight * 0.8, content1, path1Length)

path2.style.strokeDasharray  = path2Length
path2.style.strokeDashoffset = path2Length

path3.style.strokeDasharray  = path3Length
path3.style.strokeDashoffset = path3Length

function calcDashoffset(scrollY, element, length) {
  const ratio = (scrollY - element.offsetTop) / element.offsetHeight
  const value = length - (length * ratio)
  return value < 0 ? 0 : value > length ? length : value
}

function scrollHandler() {
  const scrollY = window.scrollY + (window.innerHeight * 1)
  path1.style.strokeDashoffset = calcDashoffset(scrollY, content1, path1Length)
  path2.style.strokeDashoffset = calcDashoffset(scrollY -350, content2, path2Length)
  path3.style.strokeDashoffset = calcDashoffset(scrollY -150, content3, path3Length)
}

window.addEventListener('scroll', scrollHandler)



// slide
// const REPLAY = () => {
//   const MARKUP = document.body.innerHTML
//   document.body.innerHTML = ''
//   requestAnimationFrame(() => document.body.innerHTML = MARKUP)
// }

// document.body.addEventListener('click', REPLAY)
  </script>

		<% if(is_login){ %>
			<%- include("AddItem.ejs") %>
		<% } %>
	
	</body>
</html>
