<div class="modal-cont">
    <div class="close_btn" onclick="closeModal()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg"
            viewBox="0 0 16 16">
            <path
                d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
        </svg>
    </div>
    <div class="Login_Logo">
        <Strong style="margin-top:40px;">Login</Strong>
    </div>
    <div class="input_div">
        <input id="Login_Id" class="input" style="margin-bottom: 20px;" type="text" placeholder="아아디를 입력해주세요">

        <input id="Login_Pw" class="input" style="margin-bottom: 20px;" type="password" placeholder="비밀번호를 입력해주세요">
    </div>
    <div class="Login_Button">
        <button onclick="Log_in_to()" class="custom-btn btn-3"><span>Login</span></button>
    </div>
    <div class="goToAssign">
        아직 계정이 없으신가요?
    </div>
</div>

