<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
.product-title{
  background-color: blue;
  text-align: center;
  padding: 30px;
  font-size: 50px;
  margin: 50px;
}
.aa{
  margin: 50px;
  height: 200px;
  background-color: aqua;
}
.carousel-caption{

  background-color: blue;
}
img{
  width: 200px;
  height: 200px;
}
</style>
<body>
  <!--  메인캐러셀 -->
  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></>
      <li data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></>
      <li data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
          <h2>이웃사촌</h2>
          <p>이웃끼리 신선하게 먹어볼까?</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src=".././static/img/main/www.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>이웃사촌</h5>
          <p>이웃끼리 신선하게 먹어볼까?</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src=".././static/img/main/www.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>이웃사촌</h5>
          <p>이웃끼리 신선하게 먹어볼까?</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="aa"></div>
  <div class="product-title">
    상품목록
  </div>
</body>
</html>