<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("Head.ejs") %>
        <link rel="stylesheet" href="../static/css/Profile.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
            integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="profile-body">
    <%- include("navBar.ejs") %>
        <div class="show-profile">
            <div class="profile-img">
                <div style="width: 300px; height:300px; background-color:black;">
                    이미지
                </div>
            </div>
            <div class="profile-info">
                <div class="inputList">
                    개잡정보
                </div>
                <div class="ButtonList">
                    <div class="btnDiv">회원정보 수정</div>
                    <div class="btnDiv"> 회원탈퇴</div>
                    <div class="btnDiv">찜 리스트 보기</div>
                    <div class="btnDiv">내상품 보기</div>
                </div>
            </div>
        </div>
        <div class="ClickPage">

        </div>
        <script>
            
        </script>
</body>

</html>