<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("Head.ejs") %>
        <link rel="stylesheet" href="../static/css/Profile.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
            integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="profile-body">
    <%- include("navBar.ejs") %>
        <div class="show-profile">
            <div class="profile-img">
                <div style="width: 300px; height:300px; background-color:black;">
                    이미지
                </div>
            </div>
            <div class="profile-info">

            </div>
        </div>
        <div class="ButtonList">
            <div class="btnDiv" onclick="change()">회원정보 수정</div>
            <div class="btnDiv" onclick="fire()"> 회원탈퇴</div>
            <div class="btnDiv" onclick="Jimm()">찜 리스트 보기</div>
            <div class="btnDiv" onclick="Myproduct()">내상품 보기</div>
        </div>
        <div id="ClickPage" class="ClickPage">

        </div>
        <script>
            const change = () => {
                var cell = document.getElementById("ClickPage");
                while (cell.hasChildNodes()) {
                    cell.removeChild(cell.firstChild);
                }
                $(".ClickPage").append(`<%- include("Myinfo.ejs") %>`)
            }
            const Jimm = () => {
                var cell = document.getElementById("ClickPage");
                while (cell.hasChildNodes()) {
                    cell.removeChild(cell.firstChild);
                }
                axios({
                    url: "/jimm",
                    method: "get",
                    // post방식 일때는 params가 data로 변경
                    params: { data: "Jimm" }
                })
                    .then((response) => {
                        console.log(response.data);

                    })
                    .catch((error) => {
                        console.log(error);
                    });
                $(".ClickPage").append(`<div id="ProductRow" class="row g-4">
                  </div>`)
                $("#ProductRow").append(`<div class="col-3">
                    <div class="MyPimg p-3 border bg-light">Custom column padding</div>
                  </div>`)
            }
            const Myproduct = () => {
                var cell = document.getElementById("ClickPage");
                while (cell.hasChildNodes()) {
                    cell.removeChild(cell.firstChild);
                }
                axios({
                    url: "/myproduct",
                    method: "get",
                    // post방식 일때는 params가 data로 변경
                    params: { data: "myproduct" }
                }).then((response) => {
                    console.log(response.data);
                    $(".ClickPage").append(`<div class="container overflow-hidden">
                            <div id="ProductRow" class="row g-5">
                            </div>
                          </div>`)
                    for (let i of response.data) {
                        let str=String(new Date(i.product_time)).split(" ");
                        let arr=["교환","나눔"]
                        $("#ProductRow").append(`
                        
                                <div class="product-item ">
                                    <div class="product-item-window">
                                       
                                            <img class="mypimg" src="${i.product_img_src}" alt="">    
                                      
                                        <div class="product-info-wrapper">
                                            <div class="product-name">${i.product_name}</div>
                                            <div class="product-price-wrapper">
                                                div class="product-price">${arr[i.product_price]}</div>
                                                <div class="product-upload-time">${new Date(i.product_time).getDay()+"월" +" "+str[2]+"일"}</div>
                                            </div>
                                        </div>
                                    </div>
                             
                                </div>
                               </div>`)
                    }
                })
                    .catch((error) => {
                        console.log(error);
                    });
            }
            const fire = () => {
                var cell = document.getElementById("ClickPage");
                while (cell.hasChildNodes()) {
                    cell.removeChild(cell.firstChild);
                }
                if (confirm("진짜? 진짜 삭제 할거임?")) {
                    "삭제"
                }
            }
        </script>
</body>

</html>