.Circle {
    border: 1px solid black;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.AddItemsModal {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    display: none;
    z-index: 100;
}

.ItemUploadPage {
    visibility: visible;
    border-radius: 10px;
    background-color: white;
    width: 500px;
    height: 600px;
    animation-name: fadeout;
    animation-duration: 1s;
    animation-duration: leaner;
}


@keyframes fadeout {
    0% {
        visibility: hidden;
        width: 0px;
    }

    100% {
        visibility: visible;
        width: 500px;
    }
}

.upload__container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 80%;
}

.upload__container .wrapper {
    position: relative;
    height: 200px;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.wrapper .upload__img {
    position: absolute;
    /* height: 100%;
    width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper .upload__img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.wrapper .upload__icon {
    font-size: 20px;
    color: black;
    text-align: center;
}

.wrapper .upload__text {
    font-size: 20px;
    font-weight: 400;
    color: black;
}

.wrapper .file__name {
    position: absolute;
    bottom: 0px;
    width: 100%;
    color: #fff;
    padding: 8px 0;
    font-size: 20px;
    background: black;
}

.upload__container #custom-btn {
    margin-bottom: 20px;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: black;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.upload__form>p>select {
    display: flex;
    text-align: left;
    margin-left: 50px;
}

.upload__list {
    margin: 5px;

}

.input:focus {
    outline: none;
}

input.upload__title {
    width: 80%;
    height: 50px;
    border: none;
    overflow: visible;
    background-color: #f2f2f2;
}

input.upload__price {
    width: 80%;
    height: 50px;
    border: none;
    overflow: visible;
    background-color: #f2f2f2;
}

.upload__content {
    width: 80%;
    height: 50px;
    border: none;
    overflow: visible;
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    background: transparent;
    box-shadow: none;
}


.close-btn {
    display: inline-block;
    margin-right: -90%;
    margin-top: 5px;
    cursor: pointer;
}

.sellbtn {
    width: 80%;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
    background: linear-gradient(0deg, rgba(0, 172, 238, 1) 0%, rgba(2, 126, 251, 1) 100%);
}