:root {
	--line-color: gray;
	--line-break: #000;
}
* {
	box-sizing: border-box;
	margin: 0;
}
.main-wrapper {
	width: 1024px;
	margin: auto;
	z-index: 0;
}

.section-line {
	border-bottom: 1px solid var(--line-break);
	padding: 2em 0;
}

.product-info-window {
	height: 440px;
	border-bottom: 1px solid var(--line-break);
	padding: 20px 0;

	display: flex;
	gap: 20px;
}
.product-status {
	width: 100%;
	position: relative;
}
.product-info-wrapper {
	padding-top: 2rem;
}
.product-name {
	display: flex;
	justify-content: space-around;
}
.img-wrapper {
	border: 1px solid black;
}
.product-name > h2 {
	font-size: 3rem;
	font-weight: 600;
}
.product-price {
	font-size: 2rem;
	display: flex;
	gap: 16px;
	justify-content: center;
	align-items: center;
}

.howToDeal {
	border: 1px solid var(--line-color);
	padding: 0.5rem;
	color: var(--line-break);
}

.product-content {
	border-top: 1px solid var(--line-color);
	margin-top: 2rem;
	padding-top: 2rem;
	line-height: 2.2;
}
.product-img {
	width: 440px;
	max-height: 400px;
}

.jjim-list {
	font-size: 1.4rem;
}

.jjim-list li {
	display: flex;
	align-items: center;
	list-style: none;
	gap: 0.25rem;
	color: var(--line-color);
}
.big-jjim-status,
.dialog-status {
	padding: 1rem;
	border: 1px solid var(--line-color);
	border-radius: 4px;

	display: flex;
	align-items: center;
	gap: 8px;
	color: var(--line-color);
	justify-content: center;
}
.dialog-status:hover {
	border-color: forestgreen;
	color: forestgreen;
}
.big-jjim-status:hover {
	cursor: pointer;
}

.heart {
	width: 1.2rem;
}
.heart-big {
	width: 1.5rem;
}
.clicked {
	border: 2px solid forestgreen;
	color: hotpink;
}
.view-count {
	width: 1.2rem;
}
.upload-times {
	width: 1.6rem;
	margin-left: -5px;
}

.product-deal {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 1rem 1rem 2px 1rem;
	gap: 1rem;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.product-detail-info-wrapper {
	padding-top: 2rem;
}

.product-detail-info {
	font-size: 1.1rem;
	font-weight: 400;
	border-bottom: 1px solid var(--line-color);
	padding-bottom: 1rem;
}

.proruct-content {
	padding: 1rem 0;
}
