.modal_back {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    display: none;
    z-index: 100;

}

.modal-cont {
    background-color: white;
    width: 400px;
    height: 500px;
    position: relative;
    overflow-y: scroll;
    z-index: 100;
}

.modal-cont::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera*/
}

.modalPage {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.input {
    width: 80%;
    height: 50px;
    border: none;
    overflow: visible;
    background-color: #f2f2f2;
}

.input:focus {
    outline: none;
}

.close_btn {
    position: absolute;
    right: 0;
    margin-right: 15px;
    margin-top: 10px;
}

.Login_Logo {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-size: var(--textFont1);
}

.input_div {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-size: var(--textFont2);

}

.Login_Button {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-size: var(--textFont2);
}

.custom-btn:hover {
    color: black;
}

.goToAssign {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.custom-btn {
    width: 80%;
    height: 40px;
    color: #fff;
    background-color: #1cc778;
    /* padding: 10px 25px; */
    font-weight: 500;
    border: 0;
    outline: none;
}