.modal_back {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    display: none;
    z-index: 100;

}

.modal-cont {
    background-color: white;
    width: 400px;
    height: 500px;
    position: relative;
    overflow-y: scroll;
    z-index: 100;
}

.modal-cont::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera*/
}

.modalPage {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.input {
    width: 80%;
    height: 50px;
    border: none;
    overflow: visible;
    background-color: #f2f2f2;
    border-radius: 10px;
}

.input:focus {
    outline: none;
}

.close_btn {
    position: absolute;
    right: 0;
    margin-right: 15px;
    margin-top: 10px;
}

.Login_Logo {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input_div {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.Login_Button {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.custom-btn:hover {
    color: black;
}

.goToAssign {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.custom-btn {
    width: 80%;
    height: 40px;
    color: #fff;

    background-color: #36b8f5;

    font-weight: 500;
    border: 0;
    /* background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block; */
    /* box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1); */
    outline: none;
    border-radius: 10px;
}
