.carousel {
	margin-top: 100px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.carousel-caption {
	transform: translateY(-50%);
	bottom: initial;
	top: 50%;
	color: #fff;
}

h1 {
	font-size: 80px;
}

.carousel-item>img {
	height: 400px;
}

.sideimg {
	color: #1faa00;
	background-image: url(../img/main/vege3.jpg);
	background-position-y: 101%;
	background-position-x: 125%;
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
	padding: 25px;
	height: 150px;
	width: 800px;
	border-radius: 5px;
	font-size: 35px;
	font-weight: bold;
}

.sidetitle {
	float: left;
	margin-left: 50px;
}

.sidelogo {
	float: right;
	margin-top: 20px;
	margin-right: 90px;
}

.sidelogo>div {
	display: inline-block;
}

.logoname {
	font-size: 40px;
}

.product-title {
	font-size: 25px;

	margin-left: 10%;
	margin-top: 30px;
	margin-bottom: 30px;
}

/* 지영 */
.product-item {
	display: grid;
	gap: 15px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
}

@media screen and (min-width:550px) {
	.product-item {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width:768px) {
	.product-item {

		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (min-width:1024px) {
	.product-item {
		grid-template-columns: repeat(4, 1fr);
	}
}

.product-item-window {
	margin-bottom: 1rem;
	background-color: whitesmoke;
	height: 300px;
	width: 230px;
	cursor: pointer;
}

a.product-item-window {
	text-decoration: none;
	color: initial;
}

.product-item-window img {
	width: 100%;
	height: 200px;
}

.product-info-wrapper {
	margin: 0 20px;
}

.product-name {
	font-size: var(--textFont2);
	margin-bottom: 7px;
}

.product-price-wrapper {
	display: flex;
	justify-content: space-between;
}

.product-id {
	width: 0;
	height: 0;
	visibility: hidden;
}