.product-title {
	text-align: left;
	font-size: 30px;
	margin-left: 10%;
	margin-top: 30px;
}

.carousel {
	margin-top: 100px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 12px;
}

.carousel-caption {
	transform: translateY(-50%);
	bottom: initial;
	top: 50%;
	color: #fff;
}

h1 {
	font-size: 80px;
}

.carousel-item > img {
	height: 400px;
}

.sideimg {
	color: #1faa00;
	/* background-color: #e8f5e9; */
	background-image: url(../img/main/vege3.jpg);
	background-position-y: 101%;
	background-position-x: 125%;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	height: 150px;
	width: 800px;
	border-radius: 10px;
	font-size: 35px;
	font-weight: bold;
	padding: 25px;
}

.sidetitle {
	float: left;
	margin-left: 50px;
}

.sidelogo {
	float: right;
	margin-top: 20px;
	margin-right: 90px;
}

.sidelogo > div {
	display: inline-block;
}

.logoname {
	font-size: 40px;
}

/* 지영 */
.product-item {
	display: grid;
	gap: 15px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
}

@media screen and (min-width: 550px) {
	.product-item {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width: 768px) {
	.product-item {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (min-width: 1024px) {
	.product-item {
		grid-template-columns: repeat(4, 1fr);
	}
}

.product-item-window {
	margin-bottom: 1rem;
	background-color: whitesmoke;
	height: 300px;
	width: 230px;
	cursor: pointer;
	/* border-radius: 4px; */
	/* margin: 1rem 0 2rem 1rem; */
	/* padding: 1rem; */
	/* border: 1px solid gray; */
}

a.product-item-window {
	text-decoration: none;
	color: initial;
}

.product-item-window img {
	width: 100%;
	height: 70%;
}

.product-info-wrapper {
	margin-left: 20px;
	margin-right: 10px;
}

.product-name {
	font-size: 18px;
	margin-bottom: 7px;
}

.product-price-wrapper {
	display: flex;
	justify-content: space-between;
}

.product-upload-time {
	margin-right: 20px;
}

.product-id {
	width: 0;
	height: 0;
	visibility: hidden;
}
