.profile-body {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.show-profile {
	width: 70%;
	position: relative;
	top: 100px;
	/* box-shadow: 0px 0px 5px gray; */
	display: flex;
	margin: 25px 0 25px 0;
}

.profile-img {
	background-color: antiquewhite;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	/* display: flex; */
	/* padding-bottom: 20px; */
	/* align-items: center; */
	/* justify-content: center; */
}

.profile-myimg {
	width: 300px;
	height: 150px;
	background-color: black;
	border-radius: 40%;
	/* text-align: center; */
	margin-left: auto;
	margin-right: auto;
}

.profile-my {
	padding: 10px;
	text-align: center;
	font-size: var(--textFont1);
}

.profile-info {
	width: 100%;
	padding: 20px;
	background-color: aqua;
}

.profile-info>div {
	padding: 10px;
	font-size: var(--textFont1);
}

.profile-upload {
	border: 0;
	width: 50px;
	/* margin-left: 93%; */
	text-align: center;
	letter-spacing: 3px;
}

#IAM {
	width: 100%;
	height: 100px;
	font-size: var(--textFont2);
}


@media screen and (max-width: 900px) {
	.profile-img {
		width: 100%;
		background-color: antiquewhite;
	}

	.profile-info {
		width: 100%;
		background-color: aqua;
	}

	.show-profile {
		display: block;
	}
}

input {
	width: 80%;
	height: 50px;
	border: none;
	overflow: visible;
	background-color: #f2f2f2;
}

.filebox input[type="file"] {
	/* 파일 필드 숨기기 */
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

input:focus {
	outline: none;
}

.inputList {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 60%;
	padding-top: 20px;
}

.ButtonList {
	position: relative;
	top: 115px;
	width: 70%;
	height: 100px;
	display: flex;
}

.btnDiv {
	height: 100%;
	width: 25%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
	font-size: var(--textFont2);
}

.btnDiv:hover {
	background-color: #f2f2f2;
	cursor: pointer;
	transition: 0.5s;
}

.ClickPage {
	/* width: 70%; */
	position: relative;
	top: 100px;
	padding-top: 50px;
	margin-bottom: 20px;
}

.myProfile {
	width: 100%;
}

.product-item {
	display: grid;
	gap: 15px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
}

.product-item-window {
	margin-bottom: 1rem;
	background-color: whitesmoke;
	height: 300px;
	width: 230px;
	cursor: pointer;
}

@media screen and (min-width:550px) {
	.product-item {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width:768px) {
	.product-item {

		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (min-width:1024px) {
	.product-item {
		grid-template-columns: repeat(4, 1fr);
	}
}

.mypimg {
	width: 100%;
	height: 200px;
}

.product-info-wrapper {
	margin: 20px 20px 0 20px;
}

.product-name {
	margin-bottom: 10px;
	font-size: var(--textFont2);
}

.product-price-wrapper {
	display: flex;
	justify-content: space-between;
}