.bodyyy{
  background: linear-gradient(252deg, #1cc778, #36b8f5, #98e6c2, #88e3b9);
  background-size: 800% 800%;
  -webkit-animation: AnimationName 17s ease infinite;
  -moz-animation: AnimationName 17s ease infinite;
  -o-animation: AnimationName 17s ease infinite;
  animation: AnimationName 17s ease infinite;
}
@-webkit-keyframes AnimationName {
  0%{background-position:0% 53%}
  50%{background-position:100% 48%}
  100%{background-position:0% 53%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 53%}
  50%{background-position:100% 48%}
  100%{background-position:0% 53%}
}
@-o-keyframes AnimationName {
  0%{background-position:0% 53%}
  50%{background-position:100% 48%}
  100%{background-position:0% 53%}
}
@keyframes AnimationName {
  0%{background-position:0% 53%}
  50%{background-position:100% 48%}
  100%{background-position:0% 53%}
}


@font-face {
  font-family: 'BinggraeSamanco';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/BinggraeSamanco.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.header {
  
  /* background-color:white; */
  box-sizing: border-box;
  overflow: hidden;
  position: relative;

}
.header-text {
  position: absolute;
  top: 50%;
  left: 10%;
  font-size: 3rem;
  color: white;
}
@media screen and (max-width: 768px) {
  .header-text {
    font-size: 1rem;
left: 5%;
    top: 40%;
  }
}
.path {
  fill: none;
  stroke: white;
  stroke-width: 1.5px;
}

.path1 , .header-text{
  stroke:white;
  stroke-dasharray: 7000;
  animation: drawPath1 6s linear, floating 6.2s linear infinite;

}

.content1 {
  position: relative;
  /* background-color:white; */
}
.con1-text {
  position: absolute;
  top: 50%;
  left: 30%;
  font-size: 3rem;
  color: white;
}
@media screen and (max-width: 768px) {
  .con1-text {
    font-size: 2rem;
left: 20%;
    top: 50%;
  }
}


.content3 {
position: relative;
}
.con3-text{
  position: absolute;
  top: 7%;
  left: 45%;
  font-size: 3rem;
  color: white;
}
@media screen and (max-width: 768px) {
  .con3-text {
    font-size: 1rem;
left: 45%;
    top: 7%;
  }
}

.con3-text2 {
  position: absolute;
  top: 70%;
  right: 15%;
  font-size: 5rem;
  color: white;
}
@media screen and (max-width: 768px) {
  .con3-text2 {
    font-size: 1.5rem;

  }
}

.content4 {
  position: relative;
  }
  .con4-text{
    position: absolute;
    top: 7%;
    left: 60%;
    font-size: 3rem;
    color: white;
  }
  @media screen and (max-width: 768px) {
    .con4-text {
      font-size: 1.5rem;
    }
  }

  .con4-text2{
    position: absolute;
    top: 70%;
    left: 47%;
    font-size: 2rem;
    color: white;
  }
  @media screen and (max-width: 768px) {
    .con4-text2 {
      font-size: 1rem;


    }
  }

  .content5 {
    position: relative;
    margin-top: 10%;
    }
    .con5-text{
      position: absolute;
      top: 14%;
      left: 60%;
      font-size: 3rem;
      color: white;
    }
    @media screen and (max-width: 768px) {
      .con5-text {
        font-size: 2rem;
      }
    }
    
    .con5-text2 {
      position: absolute;
      top: 70%;
      right: 15%;
      font-size: 3rem;
      color: white;
    }
    @media screen and (max-width: 768px) {
      .con5-text2 {
        font-size: 2rem;
    
      }
    }

.onlyText{
  text-align: center;
  color: white;
  font-size: 3rem;

}
@media screen and (max-width: 768px) {
  .onlyText {
    font-size: 2rem;

  }
}
.onlyText2{
  text-align: center;
  color: white;
  font-size: 5rem;

}
@media screen and (max-width: 768px) {
  .onlyText2 {
    font-size: 2rem;

  }
}
.onlyText2 div{
  margin-top: 800px;
}
@media screen and (max-width: 768px) {
  .onlyText2 div {
    margin-top: 600px;

  }
}
.onlyText div{
  margin-top: 1000px;
}

.content7 {
  position: relative;
  
  top: 300px;

}

.path8{
  position: absolute;
}

.content8 {
  position: relative;
  
  top: 100px;

}
@media screen and (max-width: 768px) {
  .content8 {
    top: -200px;

  }
}
.path9 , .onlyText2{
  stroke-width: 3px;
  stroke:white;

  animation: floating 6.2s linear infinite;
}

/* .path2 {
  stroke: white;
}



.path3 {
  stroke: white;
}
.path4{
  stroke: white;
}
.path5{
  stroke: white;
}
.path6{
  stroke: white;
}
.path7{
  stroke: white;
} */

@keyframes drawPath1 {
  0% {
    stroke-dashoffset: 6884;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes floating {
  50% {
    transform: translate3d(0, 40px, 0);
  }
}


/* 카드이미지 */
/* *:not(head, script, svg, svg *),
*:not(head, script, svg, svg *)::before,
*:not(head, script, svg, svg *)::after {
  all: unset;
  box-sizing: border-box;
  font-family: sans-serif;
} */

.cardBody {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 0;

  backface-visibility: hidden; /* Force GPU Usage */
}

.carddd {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50vmin;
  height: 50vmin;
  background: white;
  padding: 5vmin;
  border-radius: 2vmin;
  
}

.carddd h2 {
  font-size: 6vmin;
  line-height: 110%;
  font-weight: 600;
  color: black;
  text-align: center;
}

.carddd p {
  font-size: 4vmin;
  line-height: 150%;
  font-weight: 400;
  color: black;
  padding-left: 8vmin;
  border-left: 2px solid#1CC778;
  margin: 6vmin 0;
}

.carddd a {
  font-size: 3vmin;
  background-color: #1CC778;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 2vmin 4vmin;
}

a:hover {
  cursor: pointer;
}

a:focus {
  outline: 1px dotted gray;
}

a:active {
  transform: scale(0.98);
}

.carddd::before {
  position: absolute;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background: white;
  border-radius: 100%;
  filter: drop-shadow(15vmin 15vmin 22vmin yellow);
  transform-box: fill-box;
  -webkit-transform-box: fill-box;
  transform-origin: center;
  -webkit-transform-origin: center;
  content: "";
  z-index: -10;
  animation: shadowRotate 5s linear infinite;
}

@keyframes shadowRotate {
  to {
    transform: rotateZ(360deg);
  }
}

/* 하단 마우스 오버 페이지 */

.imgBody {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.imgBody {
  color: white;

  /* font-weight: bold; */
}

.contents {
  padding: 120px 0;
  margin-top: 500px;
}

.list {
  width: 80%;
  margin: 0 auto;
  font-size: 100px;
}

.item {
  padding: 32px 0 10px;
  border-top: solid 2px white;
  cursor: default;
}

.item:nth-of-type(even) {
  text-align: right;
}

.item:last-of-type {
  border-bottom: solid 2px white;
}

.images {
  position: fixed;
  top: 0;
  left: 0;
  width: 1000px;
  height: 800px;
  pointer-events: none;
}
@media screen and (max-width: 768px) {
  .images {
    width: 100%;
    height: 30%;

  }
}

.images img {
  position: absolute;
  top: -350px;
  left: -240px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .images img{
    top: 100px;

  }
}

/* 마우스 오버 */
.contents li:hover {
  color: #5caaef;
}
